rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /books/{companyId}/{document=**} {
      allow read, write: if request.auth != null; // tighten for prod
    }
    match /companies/{companyId}/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}